# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
venv.bak/

# VS Code config (если используешь)
.vscode/

# PyInstaller
*.spec
dist/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pycharm
.idea/
